* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 33vw;
    height: 120vh;
    background-color: #24305E;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    height: 120vh;
    width: 66%;
    background-color: #6d6d6d;
}

.actionlist {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.actionlist button {
    margin-block: 20px;
}
.adminname {
    background-color:#F76C6C ;
    height: 50px;
    width: 200px;
    text-align: center;
    padding-top:15px;
    border-radius: 5px;
}

button {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

.attr {
    height: 50px;
    width: 50vw;
    padding: 5px;
    border: 2px solid #374785;
}

.submit {
    margin-top: 50px;
    background-color: #A8D0E6;
}

.logout{
    background-color: #F76C6C;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.addcat {
    display: flex;
    justify-content:stretch;
    row-gap: 30px;
    margin: 0;
}

.message {
    position: absolute;
    top: 250px;
    height: 50px;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
}

.success{
    background-color: lightgreen;
}

.failed {
    background-color: #F76C6C;
}
