@font-face {
    font-family: Sofia Pro;
    src: url(../assets/fonts/sofiapro-light.otf);
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

/* -------------------------------------- */
header {
    margin: 0;
    padding: 0;
    font-family: "arial", heletica, sans-serif;
    font-size: 12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-ms-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-o-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}
/* -------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 30vh 15vw;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    background-color: #161B40;
    border-radius: 10px;
    height: 50vh;
    color: #efa500;
    padding: 10vh 10vw;
    box-shadow: 5px 5px #F40058;
}

.title {
    font-family:Sofia Pro;
    margin-bottom: 5vh;
}

.moto {
    font-family: Poppins;
    
}
.landing {
    font-size: 1.5rem;
    width: 50%;
    height: 100%;
}
.categories {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
}
.categories img {
    width: 40px;
    height: 40px;
    
}
.cat {
    background-color: #43BEE5;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif
}
.cat:hover {
    background-color: #F40058;
    transform: scale(1.05);
    cursor: pointer;
}
.itemslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin: 40px;

}

.itemcard {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #efa500;
    border-radius: 10px;
    padding: 50px;
    font-family: poppins;
}

.name {
    position: absolute;
    left: 10%;
    top: 10%;
}
.favorite {
    font-size: 60px;
    position: absolute;
    right: 10%;
    top: 0%;
}

.favorite:hover {
    transform: scale(1.2);
    color:#F40058;
    cursor: pointer;
}

.desc {
    position: absolute;
    left: 10%;
    top: 30%;
}
.imagecontainer {
    position: absolute;
    bottom: 20%;
    left: 10%;
    background-color: #161B40;
    border-radius: 10px;
    height: 40%;
    width: 80%;
}

.loc {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.price {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

@media screen and (max-width: 600px) {
    header {
        height: 120vh;
        width: 100vw;
    }

    .container {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 1rem;
        flex-direction: column;
        height: 100vh;
        width: 80vw;
    }

    .landing {
        width: 90%;
        font-size: 1rem;
    }

    .categories {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        grid-template-columns: 150px 150px;
        grid-template-rows: 100px 100px;
        margin-top: -400px;
    }
}
@media screen and (max-width: 1000px) {
    header {
        height: 120vh;
        width: 100vw;
    }

    .container {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 1rem;
        flex-direction: column;
        height: 105vh;
        width: 80vw;
    }

    .landing {
        width: 90%;
        font-size: 1rem;
        margin-bottom: 50px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-columns: 150px 150px;
        grid-template-rows: 100px 100px;
        margin-top: -200px;
    }
}